

.btntop{
    width: 100%;
    height: 64px;
    border: none;
    cursor: pointer;
    border-radius: 0;
}


.airbnb{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    margin: 20px auto;
    position: sticky;
    top:0;
    z-index: 1000; /* Ensures header stays on top */
    background-color: white; /* Ensures content below is not visible */
    padding: 50px;
    box-sizing: border-box;

}
.search-bar{
    width: 100%;
    height: 68px;
    display: -webkit-inline-flex;
    gap: 10px;
    border: 2px solid slategray;
    border-radius: 50px;
    position: relative;
    box-sizing: border-box;

}
.di{
    padding-top: 8px;
    
}


.dest{
    display: flex;
    width: 35%;
    padding-left: 30px;
    padding-top: 15px;
    justify-content: left;
    

}

.dest-where{
    width: 218.66px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
}
.check-in{
    width: 15%;
    padding-left: 30px;
    padding-top: 15px;
    justify-content: center;
}
.check-out{
    width: 15%;
    padding-left: 30px;
    padding-top: 15px;
    
}
.guest{
    width: 25%;
    padding-left: 30px;
    padding-top: 15px;
    padding-right: -120px;
    display: flex;
    

}
.input-dest{
    width: 140px;
    height:20px;
    font-size: 16px;
    background: none;
    border: none;
    
}   

.di{
    width: 10%;
    height: 100%;
}
.search-img{
    width: 6%;
    color: white;
    background-color: #ff385c;
    height: 48.2px;
    border-radius: 50%;
    display: flex;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8.5px;
    right: 10px;
}
.search-img:hover{
    width: 6%;
    height:48.2px;
    color: white;
    background-color: #E00B41;
    border-radius: 50%;
    display: flex;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8.5px;
    right: 10px;
}
.weor{
    width: 120px;
    
}

.navbar{
    margin-bottom: 20px;
    position: sticky;
    top: 150px;
    z-index: 1000; 
    background-color: white;
    padding: 10px 0;
    box-sizing: border-box;

}
.nav{
    width: 70px;
    height: 70px;
    text-align: center;
    filter: opacity(50%);

}
.nav:hover{
    filter: opacity(100%);
    border-bottom: 3px solid rgba(112, 128, 144, 0.47);
    border-radius: 1px;
    box-sizing: border-box;
}
.types{
    display: -webkit-inline-flex;
    justify-content: space-between;
    gap: 38px   ;
}
.icon-img-div{
    margin-left: 13px;
    width: 40px;
    height: 48px;
    color: slategray;
}
.icon-img{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}
.caption{
    margin-top: -10px;
    font-size: 12px;
    font-weight: bold;
}

.d1-1{
    width: 256px;
    height: 243px;
    position: relative;
}
.d-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.content-imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    justify-content: center;
}
.matter{
    margin-top: 13px;
    font-weight: bold;
}
.matter-line1{
    color: slategray;
}
.matter-line2{
   color: rgb(0, 0, 0);

}
.upload-icon{
    background-color: rgba(255, 250, 250, 0.899);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.upload-icon:hover{
    background-color: snow;
}

.upload-img{
    height: 15px;
    margin: 7px auto;
}

@media only screen and (min-width: 768px) {

}
